.contact {
    background-color: #CEC4BC;
}

.contact_wrapper {
    padding: 98px 16px 116px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_question {
    display: flex;
    flex-direction: column;
    max-width: 576px;
}

.contact_question h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 3px;
}

.contact_question p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 4vw, 40px);
    /* font-size: 40px; */
    margin-top: -7px;
    line-height: clamp(18px, 4vw, 42px);
}

.contact_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 14px;
    background-color: transparent;
    width: 155px;
    height: 46px;
    flex-shrink: 0;
    margin-top: 19px;
}

.contact_btn:hover {
    background-color: #000;
    color: #fff;
}

.contact_btn span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 1px;
}


@media screen and (max-width: 992px) {
    .contact_wrapper {
        padding: 30px;
    }
}

@media screen and (max-width: 769px) {
    .contact_wrapper {
        flex-direction: column;
    }

    .contact_question {
        /* gap: 16px; */
    }

}