.section_6 {
    background-color: #000;
}

.customers_wrapper {
    min-height: 410px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 49px;
    gap: 2em;
}

.customers {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    max-width: 460px;
    min-height: 160px;
    color: #FFFFFF;
    margin-left: 15px;
}

.customers h3 {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #ECE7E4;
    margin-top: 9px;
}

.customers h4 {
    /* font-size: 32px; */
    font-size: clamp(25px, 4vw, 32px);
    margin-bottom: 22px;
}

.customers p {
    max-width: 451px;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}

.customers_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    max-width: 454px;
}



@media screen and (max-width: 992px) {
    .customers_wrapper {
        flex-direction: column;
        padding: 30px;
    }
}

@media screen and (max-width: 769px) {
    .customers_icons {
        justify-content: center;
    }
}