.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 23px 27px;
}

.header_logo {
    margin-top: 11px;
}

.header_burger {
   width: 36px;
   display: none;
}

.header_menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .header_menu {
        display: none;
    }
    .header_burger {
        width: 44px;
        display: block;
    }
}

.header_menu__item {
    cursor: pointer;
}

.header_menu__item:last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    width: 155px;
    height: 46px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 14px;
}

.header_menu__item:last-child:hover {
    color: #fff;
    background-color: #000;
}

.header_menu__item+.header_menu__item {
    margin-left: 30px;
}

@media screen and (max-width: 769px) {
    .header_wrapper{
        padding: 16px;
    }
    .header_menu__item+.header_menu__item {
        margin-left: 0;
    }
}