.section_3 {
    background-image: url("./../assets/images/section3.png");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.reeding {
    max-width: 285px;
    margin-right: 75px;
}

.reeding h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media screen and (max-width: 769px) {
    .reeding {
        margin-right: 0;
    }
    .section_3 {
        justify-content: center;
        padding: 30px 30px;
    }
}