.team_wrapper {
    display: flex;
    gap: 1em;
    padding: 99px 0 130px 16px;
}

.team_meet {
    display: flex;
    flex-direction: column;
    max-width: 378px;
    padding-right: 25px;
}

.team_meet h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 14px;
    margin-top: -3px;
}

.team_meet p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
}

.team_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 14px;
    background-color: transparent;
    width: 155px;
    height: 46px;
}

.team_btn:hover {
    background-color: #000;
    color: #fff;
}

.team_btn span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.team_members {
    max-width: 773px;
    display: flex;
    flex-wrap: wrap;
    gap: 51px;
    margin-top: 9px;
}

.team_item {
    display: flex;
    justify-self: center;
    width: 45%;
    gap: 30px;
}

.team_item__name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-top: 23px;
    line-height: 26px;
}

.team_item__post {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-top: -3px;
    font-size: 14px;
    line-height: 14px;
}

@media screen and (max-width: 992px) {
    .team_wrapper {
        flex-direction: column;
        padding: 99px 30px 130px 30px;
    }

    .team_members {
        justify-content: start;
        align-items: start;
        gap: 16px;
    }
}

@media screen and (max-width: 769px) {
    .team_item {
        width: 250px;
    }

    .team_wrapper {
        padding: 16px;
    }
}